# Larry's Final Project
## For Coursera Course Capstone

### This is a data-driven project to guide business owners to choose their new store location in Toronto, Canada
<br>

### I use Foursquare Database System to interact with Toronto data. And it would show the result that contains multiple categories for different business owners.
<br>

### The most important part of this project is that I need to customize data and analysis process to make it suitable for different kinds of business.

In [1]:
import pandas as pd
import numpy as np
import json
import requests
from pandas.io.json import json_normalize

In [7]:
import xlrd

In [8]:
xlsfile = r"/Users/apple/Desktop/Coursera/capstone1.xlsx"
data = xlrd.open_workbook(xlsfile)

In [9]:
df = pd.read_excel(xlsfile)

### This is the basic dataframe used in Week 3, as fundamental geographic data

In [10]:
df.head()

,Unnamed: 0,Postcode,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

## Next step is to identify different location request from business owners

### since there is no existing data of request, so I asked some of my friends who have their own business, stores or have plan to start their business in Toronto.

In [2]:
xlsfile1 = r"/Users/apple/Desktop/Coursera/Business.xlsx"
df_b = pd.read_excel(xlsfile1)
df_b.head()

   Unnamed: 0 Store_name  Owner  Is_restaurant Category  Is_chain  Age  Budget
0           0        ABC   Jack              0      Bar         0    0     100
1           1        DEF   Lisa              1      Res         0    5     500
2           2        GHI  Linda              1      Res         1   15     800
3           3        JKL   Mary              0      Gro         0    2     100
4           4        MNO  James              1      Res         1    7     700

In [5]:
df_b.drop(['Unnamed: 0'], axis=1)
df_b.head()

   Unnamed: 0 Store_name  Owner  Is_restaurant Category  Is_chain  Age  Budget
0           0        ABC   Jack              0      Bar         0    0     100
1           1        DEF   Lisa              1      Res         0    5     500
2           2        GHI  Linda              1      Res         1   15     800
3           3        JKL   Mary              0      Gro         0    2     100
4           4        MNO  James              1      Res         1    7     700

### Is_restaurant is a dummy variable, because according to my survey, most of my friends would prefer start restaurants. In Category column, gro means grocery store, and Pha means pharmacy. 
<br>

### Is_chain is also a dummy variable to check if it is a mature equity. Budget is in K CAD.